.header {
    background-color: var(--white-background-color);
}

.header__logo {
    font-family: $secondaryFont;
    margin-left: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    align-items: center;
    text-align: center;
}

.header__logo--black {
    color: var(--black-logo-color);
}

.header {
    border-bottom: 1px solid;
    border-color: var(--border-header-color);
}

.header__nav {
    margin-left: 93px;
}

.nav__flex {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    margin-right: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    align-items: center;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color)
}

.header__nav {
    display: flex;
    font-weight: 500;
    align-items: center;
}

.nav__link.header--current {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav__link.header--current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background-color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.header--current::after:hover {
    width: 100%;
}

.header-contact__list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-contact__item:not(:first-child) {
    margin-left: 50px;
}

.header-contact__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    color: var(--secondary-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-contact__link {
    display: flex;
    align-items: center;
}

.header-contact__link:hover,
.header-contact__link:focus {
    background-color: var(--white-background-color);
    color: var(--accent-color);
}