.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--hero-background-color);
}

.footer__flex {
    align-items: baseline;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__logo {
    font-family: Raleway, sans-serif;
    margin-left: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    align-items: center;
    text-align: center;
}

.footer__logo {
    &--white {
        color: var(--white-text-color);
    }
}

.footer-contact {
    margin-top: 20px;
    flex-grow: 1;
}

.footer-contact__item {
   &:not(:last-child) {
    margin-bottom: 9px;
}
}

.footer-contact-map__link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.footer-contact__link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.footer-contact__flex {
    flex-grow: 1;
}

.footer-social__flex {
    margin-left: 70px;
    width: 206px;
}

.footer-social__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer-social__list {
    display: flex;
    padding: 0;
    margin-top: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.footer-social__item {
    width: 44px;
    height: 44px;
}

.footer-social__icon {
    margin: 12px 0px 0px 12px;
    fill: currentColor;
}

.footer-social__link {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    color: var(--white-text-color);
    background-color: var(--icon-bg-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
}



.footer-subscribe {
    margin-left: 93px;
}

.footer-subscribe__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer-subscribe__input {
    width: 358px;
    margin: 0;
    padding: 15px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--hero-background-color);
    color: var(--white-text-color);

    &:hover {
        border: 1px solid var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: var(--accent-color);
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;

        color: rgba(255, 255, 255, 0.6);
    }

}

.footer-subscribe__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 10px 29px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    height: 50px;
    margin-left: 12px;

    &::after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background-image: url(../images-sprite/icon-send.svg);
    }

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}



